#control-panel{
    position: absolute;
    width: 200px;
    height: 100vh;
    border: 1px solid black;
}

.canvas{
    border:1px black dotted;
    position:absolute;
}

#canvas-draft{
    background-color: transparent;
}

#canvas-container{
    position: absolute;
    left: 200px;
}