* {
  padding: 0;
  margin: 0;
}

body{
    overflow:hidden;
}

/* ------------control-panel styling------------- */

#control-panel {
  width: 200px;
  height: 100vh;
  border: 1px solid black;
  position: absolute;
}

.icon{
  text-align: center;
}

.icon #file {
  display: none;
}

#control-panel ul {
	list-style: none;
}


.btn-sq-xs {
  width: 48px !important;
  height: 48px !important;
  padding: 6px;
}

/* ------------canvas styling------------- */

.canvas {
  border: 1px black dotted;
  position: absolute;
}

#canvas-draft {
  background-color: transparent;
}

#canvas-container {
  position: absolute;
}

/* -------------Color picker------------- */

body {
  margin: 0;
  padding: 0;
}

h2 {
  background-color: #dbdbdb;
  margin: 0;
  margin-bottom: 15px;
  padding: 10px;
  font-family: 'Open Sans';
}

#color-input {
  display: none;
}

#color-label {
  margin-left: 15px;
  height: 30px;
  width: 50px;
}

#color-input:checked~#color-picker {
  opacity: 1;
}

#color-picker {
  position: relative;
  background-color: white;
  height: 160px;
  width: 160px;
  border: solid 1px #ccc;
  opacity: 0;
  padding: 5px;
}

canvas:hover {
  cursor: crosshair;
}
