*{
  padding: 0;
  margin: 0;
}

#control-board-wrapper {
  width: 240px;
  height: 600px;
  border: 1px solid orange;
  position: absolute;

}

span {
  width: 60px;
  height: 60px;
  margin: 2px;
 
}

#file {
  visibility: hidden;
}

a {
  width: 60px;
  height: 60px;
}

/* ------------canvas styling------------- */

.canvas{
    border:1px black dotted;
    position:absolute;
}

#canvas-draft{
    background-color: transparent;
}

#canvas-container{
    height:500px;
  position: absolute;
}

/* -------------Color picker------------- */

body {
  margin: 0;
  padding: 0;
}
h2 {
  background-color: #dbdbdb;
  margin: 0;
  margin-bottom: 15px;
  padding: 10px;
  font-family: 'Open Sans';
}
#color-input {
  display: none;
}
#color-label {
  margin-left: 15px;
  position: absolute;
  height: 30px;
  width: 50px;
}
#color-input:checked ~ #color-picker {
  opacity: 1;
}
#color-picker {
  position: absolute;
  left: 70px;
  background-color: white;
  height: 160px;
  width: 200px;
  border: solid 1px #ccc;
  opacity: 0;
  padding: 5px;
}
canvas:hover {
  cursor: crosshair;
}
